<a href="https://colab.research.google.com/github/hyunj941031/hyunjoon/blob/main/N111_Part1_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# 데이터 업로드

from google.colab import files
uploaded = files.upload()

Saving winequality-red.csv to winequality-red.csv

데이터셋 불러오기

In [3]:
df_red = pd.read_csv('winequality-red.csv')
df_red.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

In [4]:
df_red = pd.read_csv('winequality-red.csv', sep=';')
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
uploaded = files.upload()

Saving winequality-white.csv to winequality-white.csv

In [6]:
df_white = pd.read_csv('winequality-white.csv', sep=';')
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

데이터 정제

In [7]:
print(df_red.shape)

(1599, 12)

In [8]:
print(df_white.shape)

(4898, 12)

In [9]:
df_red.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [10]:
df_white.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4898 entries, 0 to 4897
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         4898 non-null   float64
 1   volatile acidity      4898 non-null   float64
 2   citric acid           4898 non-null   float64
 3   residual sugar        4898 non-null   float64
 4   chlorides             4898 non-null   float64
 5   free sulfur dioxide   4898 non-null   float64
 6   total sulfur dioxide  4898 non-null   float64
 7   density               4898 non-null   float64
 8   pH                    4898 non-null   float64
 9   sulphates             4898 non-null   float64
 10  alcohol               4898 non-null   float64
 11  quality               4898 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 459.3 KB

중복데이터 삭제

In [11]:
df_red.duplicated().sum()

240

In [12]:
df_white.duplicated().sum()

937

In [13]:
df_red = df_red.drop_duplicates()
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5

In [14]:
df_white = df_white.drop_duplicates()
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6

In [15]:
# 인덱스 정리
df_red = df_red.reset_index(drop=True)
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5

In [16]:
df_white = df_white.reset_index(drop=True)
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6

In [17]:
df_red.shape, df_white.shape

((1359, 12), (3961, 12))

Feature Engineering

- 새로운 feature를 만들어내 더 의미있는 분석 진행

In [18]:
# 데이터를 합치기 위해 새로운 컬럼 생성
red_color = np.repeat('red', len(df_red))
red_color

array(['red', 'red', 'red', ..., 'red', 'red', 'red'], dtype='<U3')

In [19]:
white_color = np.repeat('white', len(df_white))
white_color

array(['white', 'white', 'white', ..., 'white', 'white', 'white'],
      dtype='<U5')

In [20]:
df_red['color'] = red_color
df_white['color'] = white_color

In [21]:
df_red.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'color'],
      dtype='object')

In [22]:
df_white.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'color'],
      dtype='object')

In [23]:
# 데이터셋을 합치기 전 컬럼이 같은지 확인
set(df_red.columns) == set(df_white.columns)

True

데이터 프레임 합치기

In [24]:
df = df_white.append(df_red, ignore_index=True)

In [25]:
df.shape

(5320, 13)

In [26]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,white
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,white
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,white
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,white
4,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6,white

In [27]:
df.to_csv('winequality_edited.csv', index=False)

In [28]:
wine_df = pd.read_csv('winequality_edited.csv')

In [29]:
wine_df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

fixed acidity             7.215179
volatile acidity          0.344130
citric acid               0.318494
residual sugar            5.048477
chlorides                 0.056690
free sulfur dioxide      30.036654
total sulfur dioxide    114.109023
density                   0.994535
pH                        3.224664
sulphates                 0.533357
alcohol                  10.549241
quality                   5.795677
dtype: float64

In [30]:
# 속성별 평균
wine_df.groupby('color').mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
color,,,,,,,,,,,,
red,8.310596,0.529478,0.272333,2.523400,0.088124,15.893304,46.825975,0.996709,3.309787,0.658705,10.432315,5.623252
white,6.839346,0.280538,0.334332,5.914819,0.045905,34.889169,137.193512,0.993790,3.195458,0.490351,10.589358,5.854835

In [31]:
wine_df.groupby('color')['quality'].mean()

color
red      5.623252
white    5.854835
Name: quality, dtype: float64

In [34]:
wine_df.groupby('color', as_index=False)['quality'].mean()

   color   quality
0    red  5.623252
1  white  5.854835

In [37]:
wine_df['color'].value_counts()

white    3961
red      1359
Name: color, dtype: int64

In [38]:
# 와인의 quality에 따른 각 컬럼의 평균값 확인
wine_df.groupby('quality').mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,7.853333,0.517000,0.281000,5.140000,0.077033,39.216667,122.033333,0.995744,3.257667,0.506333,10.215000
4,7.304369,0.462379,0.271505,4.034951,0.060510,20.332524,101.516990,0.994802,3.235874,0.507476,10.215049
5,7.333248,0.393970,0.305845,5.481906,0.066039,29.797660,119.572203,0.995734,3.214275,0.529041,9.872211
6,7.169027,0.315626,0.324671,5.153142,0.054366,30.777873,114.433491,0.994377,3.224120,0.534313,10.649060
7,7.122021,0.292342,0.336040,4.171320,0.045218,29.977220,105.157126,0.992838,3.240479,0.549638,11.511020
8,6.820270,0.302973,0.340541,4.771622,0.040385,33.108108,111.976351,0.992130,3.239595,0.519054,11.912162
9,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

In [39]:
wine_df.groupby(['quality', 'color']).mean()

               fixed acidity  volatile acidity  citric acid  residual sugar  \
quality color
3       red         8.360000          0.884500     0.171000        2.635000
        white       7.600000          0.333250     0.336000        6.392500
4       red         7.779245          0.693962     0.174151        2.694340
        white       7.139869          0.382157     0.305229        4.499346
5       red         8.171231          0.578596     0.244523        2.509532
        white       6.921745          0.303306     0.335957        6.941532
6       red         8.337383          0.496084     0.279364        2.457290
        white       6.819435          0.261630     0.338227        5.959787
7       red         8.858683          0.403653     0.371856        2.716766
        white       6.701089          0.265363     0.327358        4.523875
8       red         8.441176          0.427647     0.382941        2.576471
        white       6.609924          0.286794     0.335038        5.056489
9       white       7.420000          0.298000     0.386000        4.120000

               chlorides  free sulfur dioxide  total sulfur dioxide   density  \
quality color
3       red     0.122500            11.000000             24.900000  0.997464
        white   0.054300            53.325000            170.600000  0.994884
4       red     0.090679            12.264151             36.245283  0.996542
        white   0.050059            23.127451            124.127451  0.994199
5       red     0.093971            17.161179             57.406412  0.997082
        white   0.052323            36.002979            150.099574  0.995072
6       red     0.085075            15.637383             40.816822  0.996565
        white   0.045178            35.308166            136.460850  0.993722
7       red     0.076832            13.994012             35.449102  0.996051
        white   0.037556            33.851234            122.052975  0.992059
8       red     0.068353            13.764706             34.470588  0.995095
        white   0.036756            35.618321            122.034351  0.991745
9       white   0.027400            33.400000            116.000000  0.991460

                     pH  sulphates    alcohol
quality color
3       red    3.398000   0.570000   9.955000
        white  3.187500   0.474500  10.345000
4       red    3.381509   0.596415  10.265094
        white  3.185425   0.476667  10.197712
5       red    3.300815   0.623570   9.888562
        white  3.171779   0.482621   9.864182
6       red    3.318000   0.674542  10.658879
        white  3.196029   0.492355  10.646122
7       red    3.290060   0.742635  11.491118
        white  3.228462   0.502859  11.515844
8       red    3.274118   0.774706  12.158824
        white  3.235115   0.485878  11.880153
9       white  3.308000   0.466000  12.180000

In [40]:
wine_df.groupby(['quality', 'color'], as_index=False).mean()

,quality,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,3,red,8.360000,0.884500,0.171000,2.635000,0.122500,11.000000,24.900000,0.997464,3.398000,0.570000,9.955000
1,3,white,7.600000,0.333250,0.336000,6.392500,0.054300,53.325000,170.600000,0.994884,3.187500,0.474500,10.345000
2,4,red,7.779245,0.693962,0.174151,2.694340,0.090679,12.264151,36.245283,0.996542,3.381509,0.596415,10.265094
3,4,white,7.139869,0.382157,0.305229,4.499346,0.050059,23.127451,124.127451,0.994199,3.185425,0.476667,10.197712
4,5,red,8.171231,0.578596,0.244523,2.509532,0.093971,17.161179,57.406412,0.997082,3.300815,0.623570,9.888562
5,5,white,6.921745,0.303306,0.335957,6.941532,0.052323,36.002979,150.099574,0.995072,3.171779,0.482621,9.864182
6,6,red,8.337383,0.496084,0.279364,2.457290,0.085075,15.637383,40.816822,0.996565,3.318000,0.674542,10.658879
7,6,white,6.819435,0.261630,0.338227,5.959787,0.045178,35.308166,136.460850,0.993722,3.196029,0.492355,10.646122
8,7,red,8.858683,0.403653,0.371856,2.716766,0.076832,13.994012,35.449102,0.996051,3.290060,0.742635,11.491118
9,7,white,6.701089,0.265363,0.327358,4.523875,0.037556,33.851234,122.052975,0.992059,3.228462,0.502859,11.515844
10,8,red,8.441176,0.427647,0.382941,2.576471,0.068353,13.764706,34.470588,0.995095,3.274118,0.774706,12.158824
11,8,white,6.609924,0.286794,0.335038,5.056489,0.036756,35.618321,122.034351,0.991745,3.235115,0.485878,11.880153
12,9,white,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

In [42]:
wine_df.groupby(['quality', 'color'], as_index=False)['pH'].mean()

    quality  color        pH
0         3    red  3.398000
1         3  white  3.187500
2         4    red  3.381509
3         4  white  3.185425
4         5    red  3.300815
5         5  white  3.171779
6         6    red  3.318000
7         6  white  3.196029
8         7    red  3.290060
9         7  white  3.228462
10        8    red  3.274118
11        8  white  3.235115
12        9  white  3.308000